<h4>Actions</h4>
<div class="col-md-4">
    <button class="btn btn-info btn-sm" type="button" onclick="addRowSelectedCountries()"><span>Add empty row</span></button>
    <button class="btn btn-danger btn-sm" type="button" onclick="clearValues()"><span>Clear values</span></button>
    <button class="btn btn-danger btn-sm" type="button" onclick="reset()"><span>Reset checks</span></button>
</div>
