<h4>Select A Region</h4>
<div id="pcregions">
    <div class="col-md-4">
        <button class="btn btn-warning btn-sm" type="button" onclick="selectRegion('europe')"><span>Europe</span></button>
        <button class="btn btn-warning btn-sm" type="button" onclick="selectRegion('europeanUnion')"><span>European Union</span></button>
        <button class="btn btn-warning btn-sm" type="button" onclick="selectRegion('middleEast')"><span>Middle East</span></button>
        <button class="btn btn-warning btn-sm" type="button" onclick="selectRegion('latinAmerica')"><span>Latin America</span></button>
        <button class="btn btn-warning btn-sm" type="button" onclick="selectRegion('southAmerica')"><span>South America</span></button>
        <button class="btn btn-warning btn-sm" type="button" onclick="selectRegion('easternAfrica')"><span>Eastern Africa</span></button>
    </div>
    <div class="col-md-4">
        <button class="btn btn-warning btn-sm" type="button" onclick="selectRegion('centralAfrica')"><span>Central Africa</span></button>
        <button class="btn btn-warning btn-sm" type="button" onclick="selectRegion('northernAfrica')"><span>Northern Africa</span></button>
        <button class="btn btn-warning btn-sm" type="button" onclick="selectRegion('southernAfrica')"><span>Southern Africa</span></button>
        <button class="btn btn-warning btn-sm" type="button" onclick="selectRegion('westernAfrica')"><span>Western Africa</span></button>
        <button class="btn btn-warning btn-sm" type="button" onclick="selectRegion('asia')"><span>Asia</span></button>
        <button class="btn btn-warning btn-sm" type="button" onclick="selectRegion('pacificIslands')"><span>Pacific Islands</span></button>
    </div>
</div>
