<div class="footer-bottom">
    <div class="container">
        <p class="pull-left">Copyright &copy; {{ now.year }}
            <a href="https://nntoan.github.io" title="Toan Nguyen" target="_blank">Toan Nguyen</a>.
            All right reserved.
        </p>
        <div class="pull-right">
            Based on
            <cite title="Elgentos Ecommerce Solutions">
                <a href="https://elgentos.nl/tablerates" target="_blank">Elgentos Ecommerce Solutions</a>
            </cite>
        </div>
    </div>
</div>
