<div class="row">
    <blockquote>
        <p>- You can use this generator to generate the tablerates.csv file to import into your Magento installation.</p>
        <p>- You can check all the countries in the European Union at once, and set default "Shipping Costs" and "From
            &lt;condition&gt;" for the checked countries.</p>
        <p>- Click "+ Add row" to add an extra row to allow tier pricing for shipping costs.</p>
        <p>- Click "Generate tablesrates.csv" to download the generated CSV file.</p>
    </blockquote>
</div>
