<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
    <meta charset="utf-8">
    <title>Advanced Magento Table Rates Generator</title>
    <meta name="description" content="Generate your table rates (tablerates.csv) for Magento shipping!"/>
    <meta name="keywords" content="magento, table, rates, tablerates, tablerates.csv, magento, shipping, costs, generator"/>
    <meta name="author" content="Toan Nguyen"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <!-- jQuery -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}
</head>
<body>
<div class="container">
    {% block content %}{% endblock %}
</div>
{% block footer %}
<footer class="footer">
    {% include 'includes/footer.twig' %}
</footer>
{% endblock %}
</body>
</html>
